{% extends "calculator/base.html" %}
{% load widget_tweaks %}

{% block page_header %}
<div>
  <h1>Rental Calculator</h1>
</div>

{% endblock page_header %}

{% block content %}
<div class="row w-75 mx-auto">
  <div class="col-4"> 
    <div class="sticky-top">This will be a little bit of dummy text just to see what happens</div>
  </div>
  <div class="col-8">
    <form class="needs-validation" method='post' enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          <label class="form-label required" for="id_report_title">Report Title</label>
          {{ form.report_title|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide a report title.
          </div>
        </div>
      </div>

      <!-- Property Information -->
      <h3 class="pt-5 pb-3">Property Information</h3>

      <div class="row">
        <div class="col-6">
          <label for="id_category">Street Address</label>
          {{ form.prop_address|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">City</label>
          {{ form.prop_city|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <label for="id_category">State</label>
          {{ form.prop_state|add_class:"form-control" }}
        </div>
        <div class="col-2">
          <label for="id_category">Zip Code</label>
          {{ form.prop_zip|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label for="id_category">Bedrooms</label>
          {{ form.bedrooms|add_class:"form-control" }}
        </div>
        <div class="col-2">
          <label for="id_category">Bathrooms</label>
          {{ form.bathrooms|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <label for="id_category">Sq. Ft.</label>
          {{ form.sqft|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Year Built</label>
          {{ form.year_built|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <label for="id_category">MLS</label>
          {{ form.prop_mls|add_class:"form-control" }}
        </div>
      </div>

      <!-- ***********maybe move property photo to left column as sticky scroll with preview after upload************ -->
      <div class="row">
        <div class="col-8">
          <label for="id_category">Property Photo</label>
          {{ form.prop_photo|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <label for="id_category">Description</label>
          {{ form.prop_description|add_class:"form-control" }}
        </div>
      </div>

      <!-- Purchase -->
      <h3 class="pt-5 pb-3">Purchase</h3>

      <div class="row">
        <div class="col-4">
          <label class="required" for="id_category">Purchase Price</label>
          {{ form.purchase_price|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide a purchase price.
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label class="required" for="id_category">Purchase Closing Costs</label>
          {{ form.purchase_closing_cost|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide purchase closing costs.
          </div>
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">Calculating closing costs</a>
          </aside>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Repair Costs</label>
          {{ form.est_repair_cost|add_class:"form-control" }}
          
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label for="id_category">After Repair Value (ARV)</label>
          {{ form.after_repair_value|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How do I estimate a property's ARV?</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Annual Property Value Growth (Appreciation)</label>
          {{ form.annual_pv_growth|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How to determine property growth</a>
          </aside>
        </div>
      </div>

      <!-- Loan Details -->
      <h3 class="pt-5 pb-3">Loan Details</h3>

      <div class="row justify-content-between">
        <div class="col-4">
          <label for="id_category">Down Payment</label>
          {{ form.down_payment|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What's this?</a>
          </aside>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Down Payment</label>
          {{ form.down_payment_2|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label class="required" for="id_category">Interest Rate</label>
          {{ form.loan_int_rate|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide an interest rate.
          </div>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Points</label>
          {{ form.points|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What are loan points?</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label class="required" for="id_category">Loan Term</label>
          {{ form.loan_term|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide a loan term.
          </div>
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What loan terms are most common?</a>
          </aside>
        </div>
      </div>

      <!-- Rental Income -->
      <h3 class="pt-5 pb-3">Rental Income</h3>

      <div class="row justify-content-between">
        <div class="col-4">
          <label class="required" for="id_category">Gross Monthly Income</label>
          {{ form.gross_monthly_rent|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide a gross monthly income.
          </div>
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How to calculate gross monthly income</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label for="id_category">Other Monthly Income</label>
          {{ form.other_monthly_income|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How much rent can I charge?</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Annual Income Growth</label>
          {{ form.annual_income_growth|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What's income growth?</a>
          </aside>
        </div>
      </div>

      <!-- Expenses -->
      <h3 class="pt-5 pb-3">Expenses</h3>

      <div class="row justify-content-between">
        <div class="col-4">
          <label class="required" for="id_category">Annual Property Taxes</label>
          {{ form.prop_annual_taxes|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide annual property taxes.
          </div>
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How to determine your property's tax bill</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label class="required" for="id_category">Monthly Insurance</label>
          {{ form.monthly_insurance|add_class:"form-control" }}
          <div class="invalid-feedback">
            Please provide monthly insurance.
          </div>
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How to determine your property's insurance costs</a>
          </aside>
        </div>
      </div>

      <div class="row">
        <div class="col-12 w-75">
          <small class="text-muted">Maintenance, vacancy, capital expenditures, and management fees are expressed as percentages of gross monthly income.</small>
        </div>
      </div>

      

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Repairs & Maintenance</label>
          {{ form.repairs_maint|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">Ongoing maintenance and repairs</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Vacancy</label>
          {{ form.vacancy|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">Vacancy rates</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Capital Expenditures</label>
          {{ form.cap_expenditures|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What are capital expenditures?</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-2">
          <label for="id_category">Management Fees</label>
          {{ form.mgmt_fees|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">How much do property managers charge?</a>
          </aside>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label for="id_category">Electricity</label>
          {{ form.electricity|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What monthly expenses should I expect?</a>
          </aside>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Gas</label>
          {{ form.gas|add_class:"form-control" }}
        </div>
      </div>
      
      <div class="row">
        <div class="col-4">
          <label for="id_category">Water & Sewer</label>
          {{ form.water_sewer|add_class:"form-control" }}
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-4">
          <label for="id_category">HOA Fees</label>
          {{ form.hoa|add_class:"form-control" }}
        </div>
        <div class="col-4">
          <aside>
            <div><small class="text-muted">HELP</small></div>
            <a href="#">What to expect with an HOA</a>
          </aside>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Garbage</label>
          {{ form.garbage|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">PMI</label>
          {{ form.pmi|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label for="id_category">Other</label>
          {{ form.other_monthly_expenses|add_class:"form-control" }}
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label for="id_category">Annual Expenses Growth</label>
          {{ form.annual_expenses_growth|add_class:"form-control" }}
        </div>
        <div class="form-text">
          Expenses tend to go up, but by how much? In this field, enter a percentage you think inflation will cause your expenses to rise over time.
        </div>
      </div>

      <div class="row">
        <div class="col-2">
          <label for="id_category">Sales Expenses</label>
          {{ form.sales_expenses|add_class:"form-control" }}
        </div>
        <div class="form-text">
          How much will it cost to sell the property? In this field, enter the sales costs as a percentage of the final sale price
        </div>
      </div>

      <button name="submit" class="btn btn-primary text-light my-3">Calculate Results</button>

    </form>
  </div>
</div>

{% endblock content %}