/*Global*/
.asteriskField {
  color:  red;
}
.alert > ul {
  padding: 0;
  list-style-type: none;
}
body {
  box-sizing: border-box;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer li a {
  text-decoration: none;
  color:  inherit;
}
footer li a:hover {
  text-decoration: none;
  color: inherit;
}
.navbar {
  background:  linear-gradient(to right, #001510 0%, #2c3e50 50%, #00bf8f 100%);
}
.footer-sections {
  background-color: #00bf8f;
}
.rounded-top-right-1 {
    border-top-right-radius: .25rem;
}
.rounded-bottom-right-1 {
    border-bottom-right-radius: .25rem;
}

/*Index Page*/
h1.reportsTitle {
  font-size: 72px;
  background: linear-gradient(to right, #001510 0%, #2c3e50 25%, #00bf8f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.editDeleteButtons:hover {
  cursor: pointer;
}
.indexCardDetailsContainer > a > .card-body {
  min-height: 100%;
}
.reportList {
  list-style-type: none;
  padding-left: 0;
}
.reportList li a {
  text-decoration: none;
  color: white;
}
.indexCard {
  border: none;
  max-width: 540px;
  height: 175px;
}
.indexCardInfo {
  position:  absolute;
  width: 100%;
  height: 100%;
}
.indexCardImgContainer {
  max-width: 100%;
  max-height: 100%;
}
.indexCardImgContainer img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.indexCardDetailsContainer {
  max-width: 100%;
  max-height: 100%;
}

/*Dashboard Page*/
.dashboardBox > .card {
  height: 200px;
}
.dashboardBox > .card > .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dashboardBox > .card > .card-body > h1.largeBox {
  font-size: 90px;
}
.dashboardBox > .card > .card-body > h1.smallBox {
  font-size: 60px;
}

/*Calculator Page*/
aside > .modalLink {
  text-decoration: none;
  color: #00bf8f;
}
aside > .modalLink:hover {
  text-decoration: none;
  color: #00bf8f;
  filter: brightness(90%);
}
.modal-body > p > iframe {
  width:  100%;
}
h1.rentalCalculatorTitle {
  font-size: 72px;
  background: linear-gradient(to right, #001510 0%, #2c3e50 25%, #00bf8f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.list-group-item.active {
  background: none;
  font-weight: 600;
  color: inherit;
}
.imgContainer {
  padding: 15px;
}
.card-img-top {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
}
.imagePlaceholder {
  position:  relative;
  height: 200px;
  width: 100%;
  background-color: #F1F1F1;
  border-radius: 3px;
}
.imagePlaceholder > img {
  border-radius: 3px;
}
.sticky-top {
  top: 3.5rem;
}
textarea {
  max-height:  8em;
}
label.required::after {
  content: '*';
  color: red;
}
form > div.row, .toggleLoanDetails > div.row, #collapseOptionalPropInfo > div.row, #collapseOptionalPurchaseInfo > div.row {
  padding: 0 0 2rem 0;
}
a[data-bs-toggle="collapse"] + div {
  padding: 2rem 0 0 0;
}
aside > a {
  text-decoration: none !important;
}
.rounded-right {
  border-top-right-radius: .2rem !important;
  border-bottom-right-radius: .2rem !important;
}
#cash_purchase::after {
  content: "Cash Purchase?";
  color: inherit;
  padding-left: .5rem;
}
.btn-outline-secondary:hover {
  background-color: inherit;
  color: #6c757d;
}
.btn-outline-secondary:after  {
  content: '\25b2';
  margin-left: 10px;
  transform: rotate(180deg);
  transition: .3s transform ease-in-out;
  display: inline-block;
}
.btn-outline-secondary[aria-expanded="true"]:after {
  transform: rotate(0deg);
}


/*Report Page*/
.report-buttons > a, .analysisButton > button {
   background-color: #00bf8f;
   border-color: #00bf8f;
}
.report-buttons > a:hover, .analysisButton > button:hover {
   filter: brightness(95%);
}
.btn-group > label {
  border-color: #00bf8f;
  background-color: none;
  color: #00bf8f;
}
.btn-group > label:hover {
  border-color: #00bf8f;
  background-color: #00bf8f;
  color: white;
}
.btn-group > .btn-check:checked+.btn-outline-primary {
  background-color: #00bf8f;
  border-color: #00bf8f;
  color: white;
}
table td, table th {
  padding:  0 30px 0 0;
}
.report-photo img {
  max-width: 300px;
  height:  auto;
  padding:  15px 0 15px 0;
}
.report-address {
  padding: 10px 0 10px 10px;
}
.report-address h5 {
  display: inline-block;
  padding-bottom: 10px;
  position:  relative;
}
.report-address h5::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #00bf8f;
}
.report-buttons button {
  width: 180px;
}
.expenses-pie-chart, .income-pie-chart {
  height: 480px !important;
  width: auto;
}
.expenses-pie-chart > div, .income-pie-chart > div {
  height: 480px !important;
  width: auto;
}
.aot-table, .aot-table > div {
  height: 320px !important;
  width: auto;
}
.IEO-graph, .IEO-graph > div {
  height: 480px !important;
  width: auto;
}
.LBVE-graph, .LBVE-graph > div {
  height: 480px !important;
  width: auto;
}
.income-pie-chart {
  display:  none;
}
#purchasePriceTable, #purchaseInfoTable, #calulationsTable {
  width: 100%;
}
#purchaseInfoTable > tbody > tr > td {
  padding:  4px 0 4px 0;
}
.aot h3, .financialInfo h3 {
  display: inline-block;
  padding-bottom: 10px;
  position:  relative;
}
.aot h3::after, .financialInfo h3::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #00bf8f;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
a[data-bs-toggle=popover] {
  text-decoration-style: dashed;
}
a[data-bs-toggle=popover]:hover {
  cursor: pointer;
}