/*Global*/
:root {
  /* Theme colors */
  --accentColor: rgb(0, 128, 128);
  --secondaryAccentColor: rgb(36, 123, 161);

  /* color rgb values to be used with rgba with opacity */
  --accentColorrgba: 0, 128, 128;
  --secondaryAccentColorrgba: 36, 123, 161;
}
.asteriskField {
  color: red;
}
.alert > ul {
  padding: 0;
  list-style-type: none;
}
body {
  box-sizing: border-box;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer li a {
  text-decoration: none;
  color: inherit;
}
footer li a:hover {
  text-decoration: none;
  color: inherit;
}
.navbar {
  z-index: 1;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  color: white;
  background-color: var(--accentColor);
}
.footer {
  opacity: 90%;
}
.footer-sections {
  background-color: #00bf8f;
}
.rounded-top-right-1 {
  border-top-right-radius: 0.25rem;
}
.rounded-bottom-right-1 {
  border-bottom-right-radius: 0.25rem;
}
h1.pageTitle {
  font-size: 72px;
  color: var(--accentColor);
}
h3.sectionHeading {
  color: var(--accentColor);
}
/* Home Page */
.indexImg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  object-fit: cover;
}
.filter {
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 55%;
  z-index: -2;
}
.taglineContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}
.tagline {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: white;
  font-size: 3em;
  text-align: center;
}
.tagline span {
  font-size: 4rem;
  /* font-weight: 600; */
  font-family: "Lato", sans-serif;
}
.homeButton {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  color: white;
}
.homeButton:hover {
  background-color: var(--accentColor);
  border-color: v;
  filter: brightness(105%);
  color: white;
}
/*Reports Page*/
.editDeleteButtons:hover {
  cursor: pointer;
}
.indexCardDetailsContainer > a > .card-body {
  min-height: 100%;
}
.reportList {
  list-style-type: none;
  padding-left: 0;
}
.reportList li a {
  text-decoration: none;
}
.reportRow {
  height: 60px;
}
.reportImageContainer {
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;
}
.reportImageContainer img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.reportTitle a {
  color: var(--accentColor);
}
/* Pagination section of reports page */
.pagination > li > a {
  background-color: white;
  color: var(--accentColor);
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--accentColor);
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a {
  color: white;
  background-color: var(--accentColor) !important;
  border: solid 1px var(--accentColor) !important;
}
.pagination > .active > a:hover {
  background-color: var(--accentColor) !important;
  border: solid 1px var(--accentColor);
}
/*Dashboard Page*/
.dashboardBox > .card {
  height: 200px;
}
.dashboardBox > .card > .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dashboardBox > .card > .card-body > h1.largeBox {
  font-size: 90px;
}
.dashboardBox > .card > .card-body > h1.smallBox {
  font-size: 60px;
}

/*Calculator Page*/
aside > .modalLink {
  text-decoration: none;
  color: var(--accentColor);
}
aside > .modalLink:hover {
  text-decoration: none;
  color: var(--accentColor);
  filter: brightness(90%);
}
.modal-body > p > iframe {
  width: 100%;
}
.list-group-item.active {
  background: none;
  font-weight: 600;
  color: inherit;
}
.imgContainer {
  padding: 15px;
}
.card-img-top {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
}
.imagePlaceholder {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 3px;
}
.imagePlaceholder > img {
  border-radius: 3px;
}
.sticky-top {
  top: 3.5rem;
}
textarea {
  max-height: 8em;
}
label.required::after {
  content: "*";
  color: red;
}
form > div.row,
.toggleLoanDetails > div.row,
.toggleCityZip > div > div.row,
#collapseOptionalPropInfo > div.row,
#collapseOptionalPurchaseInfo > div.row {
  padding: 0 0 2rem 0;
}
a[data-bs-toggle="collapse"] + div {
  padding: 2rem 0 0 0;
}
aside > a {
  text-decoration: none !important;
}
.rounded-right {
  border-top-right-radius: 0.2rem !important;
  border-bottom-right-radius: 0.2rem !important;
}
#cash_purchase::after {
  content: "Cash Purchase?";
  color: inherit;
  padding-left: 0.5rem;
}
#owned::after {
  content: "I own this property";
  color: inherit;
  padding-left: 0.5rem;
}
#minor_civil_div::after {
  content: "Minor Civil Division";
  color: inherit;
  padding-left: 0.5rem;
}
#blacklist_bool::after {
  content: "Blacklist report addresses on delete?";
  color: inherit;
  padding-left: 0.5rem;
}
.btn-outline-secondary:hover {
  background-color: inherit;
  color: #6c757d;
}
.btn-outline-secondary:after {
  content: "\25b2";
  margin-left: 10px;
  transform: rotate(180deg);
  transition: 0.3s transform ease-in-out;
  display: inline-block;
}
.btn-outline-secondary[aria-expanded="true"]:after {
  transform: rotate(0deg);
}

/*Report Page*/
.report-buttons > a.primary,
.analysisButton > button {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
}
.report-buttons > a:hover,
.analysisButton > button:hover {
  filter: brightness(95%);
}
.btn-group > label {
  border-color: var(--accentColor);
  background-color: none;
  color: var(--accentColor);
}
.btn-group > label:hover {
  border-color: var(--accentColor);
  background-color: var(--accentColor);
  color: white;
}
.btn-group > .btn-check:checked + .btn-outline-primary {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  color: white;
}
table td,
table th {
  padding: 0 30px 0 0;
}
.report-photo img {
  max-width: 300px;
  height: auto;
  padding: 15px 0 15px 0;
}
.report-address {
  padding: 10px 0 10px 10px;
}
.report-address h5 {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
.report-address h5::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--accentColor);
}
.report-buttons button {
  width: 180px;
}
.expenses-pie-chart,
.income-pie-chart {
  height: 480px !important;
  width: auto;
}
.expenses-pie-chart > div,
.income-pie-chart > div {
  height: 480px !important;
  width: auto;
}
.aot-table,
.aot-table > div {
  height: 320px !important;
  width: auto;
}
.IEO-graph,
.IEO-graph > div {
  height: 480px !important;
  width: auto;
}
.LBVE-graph,
.LBVE-graph > div {
  height: 480px !important;
  width: auto;
}
.income-pie-chart {
  display: none;
}
#purchasePriceTable,
#purchaseInfoTable,
#calulationsTable {
  width: 100%;
}
#purchaseInfoTable > tbody > tr > td {
  padding: 4px 0 4px 0;
}
.aot h3,
.financialInfo h3 {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}
.aot h3::after,
.financialInfo h3::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--accentColor);
}
hr.reportHr {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
a[data-bs-toggle="popover"] {
  text-decoration-style: dashed;
}
a[data-bs-toggle="popover"]:hover {
  cursor: pointer;
}

/* Settigns Page */
.settingsButton > button {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
}
a.formattedButton {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
}
a.formattedButton:hover,
.settingsButton > button:hover {
  background-color: var(--accentColor);
  border-color: var(--accentColor);
  filter: brightness(95%);
}
