{% extends "calculator/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <form method="post" action="{% url 'users:login' %}" class="form needs-validation" novalidate>
    {% csrf_token %} 
    <div class="mx-auto w-25">
      <h2 class="py-4 accentColor">Log in</h2>
      {{ form|crispy }}
      <button name="submit" type="submit" class="btn btnTheme text-white mt-3 mx-auto">Log in</button>
      {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% else %}
        <input type="hidden" name="next" value="{% url 'calculator:index' %}" />
      {% endif %}
    </div> 
  </form>

{% endblock content %}