{% extends "calculator/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="mx-auto w-25">
  <form class="needs-validation" method="post" enctype="multipart/form-data" action="{% url 'users:register' %}" novalidate>
  {% csrf_token %}
  <h2 class="py-4 accentColor">Register</h2>
  {{ form|crispy }}

  <button name="submit" class="btn btnTheme">Register</button>

  <input type="hidden" name="next" value="{% url 'calculator:index' %}" />
</form>
  
</div>



{% endblock content %}